.card {
  align-items: center;
  background-color: rgb(200, 140, 0);
  border-radius: 1rem;
  display: flex;
  height: 30rem;
  width: 20rem;

}

.card__content {
  align-items: center;
  background-color: rgb(210, 210, 110);
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  height: 90%;
  margin: auto;
  width: 90%;
}

.card__figure {
  display: flex;
  height: 12rem;
  justify-content: center;
  margin: 0rem 0rem 1.5rem 0rem;
  width: 90%;
}

.card__image {
  background-image: url('../../assets/paisaje.jpg');
  height: 100%;
  width: 100%;
}

.card__header{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem 0rem 1.5rem 0rem;
  width: 90%;
}

.card__title{
  margin: 0rem;
  text-align: center; 
}

.card__subtitle {
  margin: 0rem;
  text-align: center;
}

.card__body{
  width: 90%;
}

.card__stats {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card__value {
  width: 34%;
}
